<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="allurosi.housebuddy">

    <!-- TODO: Remove android:name if DB is done -->
    <application
        android:name=".HouseBuddy"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".todolist.ToDoListActivity"
            android:parentActivityName=".HouseholdManagerActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HouseholdManagerActivity" />
        </activity>
        <activity
            android:name=".todolist.ViewTaskActivity"
            android:label="@string/title_activity_view_task"
            android:parentActivityName=".todolist.ToDoListActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".todolist.ToDoListActivity" />
        </activity>
        <activity android:name=".authentication.LogInActivity" />
        <activity android:name=".HouseholdManagerActivity" />
        <!--This first line of the following metadata might cause some errors in the future. It was a suggested solution because of a conflict about the facebook_app_id-->
        <!--tools:replace="android:value"-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".todolist.EditTaskActivity"
            android:label="@string/title_activity_edit_task"
            android:parentActivityName=".todolist.ViewTaskActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".todolist.ViewTaskActivity" />
        </activity>
        <activity
            android:name=".expensetracker.ExpensesActivity"
            android:label="@string/title_activity_expenses_list"
            android:parentActivityName=".HouseholdManagerActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HouseholdManagerActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>